#!/usr/bin/env bash

{{ if .hasGUI -}}
echo 'Setting up Kanata'
sudo groupadd uinput
echo 'KERNEL=="uinput", MODE="0660", GROUP="uinput", OPTIONS+="static_node=uinput"' | sudo tee -a /etc/udev/rules.d/99-input.rules >/dev/null
sudo udevadm control --reload-rules && sudo udevadm trigger
sudo modprobe uinput
sudo useradd --system --no-create-home -s /sbin/nologin -G uinput,input kanata
{{ end }}
