#!/usr/bin/env bash

set -e
echo 'Installing WinApps'
echo -e '\n\nGo to 127.0.0.1:8006 and run "netplwiz" and check the "Users must enter a user name and password to use this computer checkbox".
Otherwise RDP connections will fail every time the VM is restarted ,and you will have to manually connect via vnc and confirm logout each time.
Afterwards do the initial setup and app installation of Windows, then press Ctrl-c to continue\n'
docker compose --file ~/.config/winapps/compose.yaml up
docker compose --file ~/.config/winapps/compose.yaml up -d
sleep 5
bash <(curl https://raw.githubusercontent.com/winapps-org/winapps/main/setup.sh)
