#!/usr/bin/env bash

echo 'Adding the packman repository'
sudo zypper addrepo -cp 90 'https://ftp.fau.de/packman/suse/openSUSE_Tumbleweed/' packman
sudo zypper refresh
{{ if .hasGUI -}}
sudo zypper install --allow-vendor-change --from packman ffmpeg gstreamer-plugins-{good,bad,ugly,libav} libavcodec vlc-codecs
{{ end }}
