#!/usr/bin/env bash

{{- $package_manager_cmd := "" }}
{{- if eq .osid "linux_opensuse_tumbleweed" }}
{{- $package_manager_cmd = "sudo zypper in" }}
{{- else if eq .osid "linux_ubuntu" "linux_debian" }}
{{- $package_manager_cmd = "sudo apt install" }}
{{- end }}

{{ if ne $package_manager_cmd "" -}}
set -e

echo 'Installing packages...'
{{ print $package_manager_cmd }} {{ range ( concat .packages.cli_common ( dig .osid "cli" ( list ) .packages ) ) }} {{- . | quote }} {{ end }} {{- if .zsh }}"zsh"{{ end }}

{{ if .hasGUI }}
{{- print $package_manager_cmd }} {{ range ( concat .packages.gui_common ( dig .osid "gui" ( list ) .packages ) ) }} {{- . | quote }} {{ end }}
{{ end -}}

{{ if .winapps }}
{{- print $package_manager_cmd }} {{ range ( dig .osid "winapps" ( list ) .packages ) }} {{- . | quote }} {{ end }}
{{ end -}}

{{ if .steam }}
{{- print $package_manager_cmd }} --recommends {{ range ( dig .osid "steam" ( list ) .packages ) }} {{- . | quote }} {{ end }}
{{ end -}}


{{ if .isLaptop }}
{{- print $package_manager_cmd }} {{ range .packages.laptop }} {{- . | quote }} {{ end }}
{{ end -}}

{{ end -}}
