#!/usr/bin/env bash

{{- $version := printf "v%s" ( ( split " " ( output "bat" "-V" ) )._1 | trim ) }}
{{- $cli_packages := dig .osid "cli" ( list ) .packages }}
{{- $comp_exists := not (glob ".zsh_completions/_bat" | empty) }}
{{- $man_exists := not (glob ".man/man1/bat.1" | empty) }}

# {{ print "bat version: " $version }}
# {{ print "completion file exists: " $comp_exists }}
# {{ print "man file exists: " $man_exists }}

{{- if not (has "bat" $cli_packages) }}
set -e

{{- if (or (not $man_exists) (and $man_exists $comp_exists)) }}
tmpdir="$(mktemp -d)"
trap 'rm -rf "$tmpdir"' EXIT

curl -fsSL {{ gitHubReleaseAssetURL "sharkdp/bat" $version "bat-v*-x86_64-unknown-linux-gnu.tar.gz" }} | tar -C "$tmpdir" --strip-components 1 -xz --wildcards '*/bat.1'

mkdir -p ~/.man/man1
command mv "${tmpdir}/bat.1" ~/.man/man1
{{- end }}

mkdir -p ~/.zsh_completions
bat --completion zsh > ~/.zsh_completions/_bat

{{- end }}
