#!/usr/bin/env bash

function on_path {
	builtin type -P "$1" &>/dev/null
}
function on_path_info {
	if ! on_path "$1"; then
		echo "Installing $1"
		return 1
	fi
}

set -e
if ! on_path_info 'kanata'; then
	pushd /tmp
	trap popd EXIT
	wget -qO kanata.zip {{ gitHubLatestReleaseAssetURL "jtroo/kanata" "linux-binaries-x64-v*.zip" }}
	sudo unzip kanata.zip kanata_linux_x64 -d /usr/bin
	sudo chmod +x /usr/bin/kanata
	rm kanata.zip
fi
