#!/usr/bin/env bash

set -euo pipefail

if command -v snap >/dev/null 2>&1; then
	gnome="$(snap list --unicode=never | grep -Eo '^gnome-[0-9]+-[0-9]+\s')"
	snap_apps=("firefox" "snap-store" $gnome)
	for snap_app in "${snap_apps[@]}"; do
		sudo snap remove --purge "$snap_app"
	done
fi

sudo apt-get purge --autoremove -y snapd

printf '%s\n' \
	'Package: snapd' \
	'Pin: release a=*' \
	'Pin-Priority: -10' | sudo tee /etc/apt/preferences.d/nosnap.pref >/dev/null

sudo apt-get update
