#!/usr/bin/env bash

{{- $version := printf "v%s" ( ( split " " ( output "fd" "-V" ) )._1 | trim ) }}
{{- $cli_packages := dig .osid "cli" ( list ) .packages }}
{{- $comp_exists := not (glob ".bash_completions/fd.bash" | empty) }}
{{- $man_exists := not (glob ".man/man1/fd.1" | empty) }}

# {{ print "fd version: " $version }}
# {{ print "completion file exists: " $comp_exists }}
# {{ print "man file exists: " $man_exists }}

{{- if not ( or (has "fd-find" $cli_packages) (has "fd" $cli_packages)) }}
set -e

tmpdir="$(mktemp -d)"
trap 'rm -rf "$tmpdir"' EXIT

wget -qO- {{ gitHubReleaseAssetURL "sharkdp/fd" $version "fd-v*-x86_64-unknown-linux-musl.tar.gz" }} | tar -C "$tmpdir" --strip-components 1 -xz --wildcards '*/fd.1' '*/autocomplete/_fd' '*/autocomplete/fd.bash'

mkdir -p ~/.man/man1
command mv "${tmpdir}/fd.1" ~/.man/man1

mkdir -p ~/.bash_completions
command mv "${tmpdir}/autocomplete/fd.bash" ~/.bash_completions

{{ if .zsh -}}
mkdir -p ~/.zsh_completions
command mv "${tmpdir}/autocomplete/_fd" ~/.zsh_completions
{{- end }}

{{- end }}
