{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = ( printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id | replace "-" "_" ) -}}
{{- end -}}

{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{- $email := promptStringOnce . "email" "Email address:" -}}

{{- $sudo := promptBoolOnce . "sudo" "Do you have permissions to use sudo on this machine?" -}}
{{- $zsh := promptBoolOnce . "zsh" "Do you want to use zsh on this machine?" -}}
{{- $neovim := promptBoolOnce . "neovim" "Do you want to use neovim on this machine?" -}}
{{- $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI?" -}}
{{- $winapps := promptBoolOnce . "winapps" "Do you want to use winapps on this machine?" -}}
{{- $steam := promptBoolOnce . "steam" "Do you want to use steam on this machine?" -}}
{{- $yazi := promptBoolOnce . "yazi" "Do you want to use yazi on this machine?" -}}
{{- $tmux := promptBoolOnce . "tmux" "Do you want to use tmux on this machine?" -}}
{{- $brew := promptBoolOnce . "brew" "Do you want to use brew on this machine?" -}}

{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "system_profiler" "SPHardwareDataType") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}

data:
  email: {{ $email | quote }}
  osid: {{ $osid | quote }}
  sudo: {{ $sudo }}
  zsh: {{ $zsh }}
  neovim: {{ $neovim }}
  hasGUI: {{ $hasGUI }}
  winapps: {{ $winapps }}
  steam: {{ $steam }}
  isWSL: {{ $isWSL }}
  isLaptop: {{ eq $chassisType "laptop" }}
  yazi: {{ $yazi }}
  tmux: {{ $tmux }}
  brew: {{ $brew }}

diff:
  pager: "delta"
  pagerArgs:
    - "--diff-so-fancy"
    - "--color-only"
    - "--line-numbers"
    - "--side-by-side"
    - "--features=chameleon"
  exclude:
  - "scripts"

merge:
  command: "nvim"
  args:
    - "-d"
    - "-c"
    - "wincmd l"
