{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = ( printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id | replace "-" "_" ) -}}
{{- end -}}

{{- $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

{{- $email := promptStringOnce . "email" "Email address:" -}}

{{- $zsh := promptBoolOnce . "zsh" "Do you want to use zsh on this machine?" -}}
{{- $hasGUI := promptBoolOnce . "hasGUI" "Does this machine have a GUI?" -}}
{{- $yazi := promptBoolOnce . "yazi" "Do you want to use yazi on this machine?" -}}
{{- $tmux := promptBoolOnce . "tmux" "Do you want to use tmux on this machine?" -}}
{{- $brew := promptBoolOnce . "brew" "Do you want to use brew on this machine?" -}}

data:
  email: {{ $email | quote }}
  osid: {{ $osid | quote }}
  zsh: {{ $zsh }}
  hasGUI: {{ $hasGUI }}
  isWSL: {{ $isWSL }}
  yazi: {{ $yazi }}
  tmux: {{ $tmux }}
  brew: {{ $brew }}

diff:
  pager: "delta"
  pagerArgs:
    - "--diff-so-fancy"
    - "--color-only"
    - "--line-numbers"
    - "--side-by-side"
    - "--features=chameleon"
  exclude:
  - "scripts"

merge:
  command: "nvim"
  args:
    - "-d"
    - "-c"
    - "wincmd l"
