# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ]; then
	PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ]; then
	PATH="$HOME/.local/bin:$PATH"
fi

if [ -d "$HOME/go/bin" ]; then
	PATH="$PATH:$HOME/go/bin"
fi

if [ -d "/usr/local/go/bin" ]; then
	PATH=$PATH:/usr/local/go/bin
fi

export SUDO_EDITOR=nvim
export EDITOR=nvim
export VISUAL=nvim

. "$HOME/.cargo/env"

{{- if .brew }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

export PNPM_HOME="$HOME/.local/share/pnpm"
export PATH="$PNPM_HOME:$PATH"

export MANPATH="$HOME/.man:$MANPATH"
# bat as man pager 
export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"

export MAN_POSIXLY_CORRECT=1

# fix pager colors
export GROFF_NO_SGR=1
[[ -f "${ZDOTDIR:-$HOME}/.zshenv.local" ]] && . "${ZDOTDIR:-$HOME}/.zshenv.local"
