function on_path {
	builtin whence -p "$1" &>/dev/null
}

# -----------------------------------------------------
# Antidote
# -----------------------------------------------------

zstyle ':zephyr:plugin:editor' symmetric-ctrl-z 'yes'

zstyle ':zephyr:plugin:editor' key-bindings 'vi'
zstyle ':zephyr:plugin:editor:viins' cursor block
zstyle ':zephyr:plugin:editor:main' cursor block
# key sequence timeout
KEYTIMEOUT=20

ZSH_AUTOSUGGEST_STRATEGY=(match_prev_cmd completion)


source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load

# -----------------------------------------------------
# completions
# -----------------------------------------------------

compdir=${ZDOTDIR:-~}/.zsh_completions
[[ -d $compdir ]] || mkdir -p "$compdir"

[[ -f $compdir/_pnpm ]] || pnpm completion zsh > "$compdir/_pnpm"
[[ -f $compdir/_rg ]] || rg --generate complete-zsh > "$compdir/_rg"
[[ -f $compdir/_rip ]] || rip completions zsh > "$compdir/_rip"
[[ -f $compdir/_rustup ]] || rustup completions zsh > "$compdir/_rustup"
[[ -f $compdir/_cargo ]] || rustup completions zsh cargo > "$compdir/_cargo"
[[ -f $compdir/_chezmoi ]] || chezmoi completion zsh > "$compdir/_chezmoi"
[[ -f $compdir/_starship ]] || starship completions zsh > "$compdir/_starship"

fpath=($fpath $compdir)

# if I try to put this in a file it gets overwritten by the other delta's completions
source <(delta --generate-completion zsh)
# if I try to put this in a file the keybindings don't work
source <(fzf --zsh)

# -----------------------------------------------------
# functions
# -----------------------------------------------------

# Lazy-load (autoload) Zsh function files from a directory.
ZFUNCDIR=${ZDOTDIR:-~}/.zsh_functions
fpath=($ZFUNCDIR $fpath)
autoload -Uz $ZFUNCDIR/*(.:t)

# -----------------------------------------------------
# manpages
# -----------------------------------------------------

[[ -d ~/.man/man1 ]]  || mkdir -p ~/.man/man1/

[[ -f ~/.man/man1/rg.1 ]] || rg --generate=man > ~/.man/man1/rg.1

# -----------------------------------------------------
# Set-up FZF key bindings (CTRL R for fuzzy history finder)
# -----------------------------------------------------

export FZF_DEFAULT_OPTS='--bind "ctrl-y:accept" --tmux 40% --min-height 5+ --layout reverse --info=inline-right'

show_file_or_dir_preview="if [ -d {} ]; then eza --tree --color=always {} | head -200; else bat -n --color=always --line-range :500 {}; fi"

export FZF_CTRL_T_OPTS="--preview '$show_file_or_dir_preview'"
export FZF_ALT_C_OPTS="--preview 'eza --tree --color=always {} | head -200'"

# Advanced customization of fzf options via _fzf_comprun function
# - The first argument to the function is the name of the command.
# - You should make sure to pass the rest of the arguments to fzf.
_fzf_comprun() {
	local command=$1
	shift

	case "$command" in
		cd)           fzf --preview 'eza -A --tree --color=always {} | head -200' "$@" ;;
		__zoxide_z)   fzf --preview 'eza -A --tree --color=always {} | head -200' "$@" ;;
		export|unset) fzf --preview "eval 'echo $'{}"         "$@" ;;
		ssh)          fzf --preview 'dig {}'                   "$@" ;;
		*)            fzf --preview "bat -n --color=always --line-range :500 {}" "$@" ;;
	esac
}

# -----------------------------------------------------
# Aliases
# -----------------------------------------------------

alias reload='. ~/.zshrc'

alias l='eza --color=always --git --grid --no-filesize --icons=always --no-time --no-user --no-permissions'
alias la='eza --color=always --git --grid --no-filesize --icons=always --no-time --no-user --no-permissions --all'
alias ll='eza --color=always --git --long --all --icons=always'
alias lt='eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions --all --tree --level=3'

alias cp='cp -i'
alias mv='mv -i'
alias mkdir='mkdir -p'

{{ if .winapps -}}
alias win='docker compose --file ~/.local/bin/winapps-src/compose.yaml start &'
alias winoff='docker compose --file ~/.local/bin/winapps-src/compose.yaml stop &'
{{ end }}

# -----------------------------------------------------
# Prompt
# -----------------------------------------------------

eval "$(starship init zsh)"

#----------------------------------------------------------------------------------------------------------------------------------------
# History
#----------------------------------------------------------------------------------------------------------------------------------------

HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND='fg=magenta,bold'
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND='fg=red,bold'

#----------------------------------------------------------------------------------------------------------------------------------------
# Opts
#----------------------------------------------------------------------------------------------------------------------------------------

setopt sharehistory
unsetopt hist_verify
unsetopt hist_expire_dups_first
unsetopt hist_ignore_all_dups
unsetopt hist_save_no_dups

setopt globdots

#----------------------------------------------------------------------------------------------------------------------------------------
# plugins
#----------------------------------------------------------------------------------------------------------------------------------------

zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
zstyle ':completion:*' menu no
zstyle ':completion:*:git-checkout:*' sort false

# stop .. and . from apearing in completions menu
zstyle -d ':completion:*' special-dirs

zstyle ':fzf-tab:complete:cd:*' popup-pad 70 0
zstyle ':fzf-tab:complete:z:*' popup-pad 70 0
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'eza -A -1 --color=always $realpath'
zstyle ':fzf-tab:complete:z:*' fzf-preview 'eza -1 -A --color=always $realpath'
zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup

zstyle ':fzf-tab:*' fzf-flags --ignore-case --info=inline-right
zstyle ':fzf-tab:*' show-group brief
zstyle ':fzf-tab:*' popup-max-height 10
zstyle ':fzf-tab:*' fzf-bindings ctrl-y:accept
zstyle ':fzf-tab:*' continuous-trigger 'tab'

{{- if .isWSL }}
zstyle ':zle:evil-registers:+' yank win32yank.exe -i --crlf
zstyle ':zle:evil-registers:+' put win32yank.exe -o --lf
{{ end }}

zstyle ':zle:evil-registers:[A-Za-z%#"]' editor nvim

{{- if .yazi }}
#----------------------------------------------------------------------------------------------------------------------------------------
# yazi
#----------------------------------------------------------------------------------------------------------------------------------------

function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}
{{ end }}

# -----------------------------------------------------
# keybinds
# -----------------------------------------------------

bindkey "$terminfo[kcuu1]" history-substring-search-up
bindkey "$terminfo[kcud1]" history-substring-search-down
bindkey '^Y' autosuggest-accept
bindkey '^P' history-substring-search-up
bindkey '^N' history-substring-search-down

bindkey -M vicmd "$terminfo[kcuu1]" history-substring-search-up
bindkey -M vicmd "$terminfo[kcud1]" history-substring-search-down
bindkey -M vicmd '^Y' autosuggest-accept
bindkey -M vicmd '^P' history-substring-search-up
bindkey -M vicmd '^N' history-substring-search-down
bindkey -M vicmd '^K' popman

bindkey -M vicmd -r ' '
bindkey -M visual -r ' '
bindkey -M vicmd -s 'Y' 'y$'

bindkey -M vicmd -s ' y' '"+y'
bindkey -M vicmd -s ' Y' '"+Y'
bindkey -M vicmd -s ' p' '"+p'
bindkey -M vicmd -s ' P' '"+P'

bindkey -M visual -s ' y' '"+y'
bindkey -M visual -s ' p' '"+p'

autoload edit-command-line
zle -N edit-command-line
bindkey -M vicmd ' e' edit-command-line

# -----------------------------------------------------
# THIS NEEDS TO BE AT THE END, DO NOT MOVE THIS
# -----------------------------------------------------

eval "$(zoxide init zsh)"

{{ if .tmux }}
# -----------------------------------------------------
# tmux
# -----------------------------------------------------

alias connect='sesh connect "home "'

if [[ -z "$TMUX" && -z "$VIM" ]]; then
	if [[ "$ZSH_TMUX_AUTOSTARTED" != "true" ]]; then
		export ZSH_TMUX_AUTOSTARTED=true
		eval "$(ssh-agent -s)"
		ssh-add ~/.ssh/kaykoe+2025@asus_tumbleweed
		{{ if .isWSL }}
		wallust theme monokai
		{{ end }}
		sesh connect "home "
	fi
fi
{{ end }}
