[user]
	name = kaykoe
	email = {{ .email }}
[init]
	defaultbranch = main
[pull]
	rebase = true
[diff]
	colorMoved = default
[rerere]
	enabled = true
[merge]
	{{- if .neovim }}
	conflictStyle = zdiff3
	tool = "nvim"
	{{- else }}
	conflictStyle = diff3
	tool = "vimdiff"
	{{- end }}

[mergetool]
	keepBackup = false
	prompt = false

{{ if .neovim -}}
[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
{{- end }}

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only --diff-so-fancy

[include]
	path = ~/.config/delta/themes.gitconfig

[delta]
	features = chameleon
	line-numbers = true
	side-by-side = true
	navigate = true

[push]
	autoSetupRemote = true
