[user]
	name = kaykoe
	email = {{ .email }}
[init]
	defaultbranch = main
[pull]
	rebase = true
[diff]
    colorMoved = default
[rerere]
	enabled = true
[merge]
    conflictStyle = zdiff3

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --diff-so-fancy

[include]
	path = ~/.config/delta/themes.gitconfig

[delta]
    features = chameleon
	line-numbers = true
	side-by-side = true
    navigate = true

[push]
	autoSetupRemote = true
