{{- $gui_packages := dig .osid "gui" ( list ) .packages }}
{{- $is_hyprland := has "hyprland" $gui_packages }}
{{- $is_sway := has "sway" $gui_packages }}
{
    "label" : "lock",
    "action" : "$HOME/.config/wayland-scripts/LockScreen.sh",
    "text" : "Lock",
    "keybind" : "l"
}
{
    "label" : "reboot",
    "action" : "systemctl reboot",
    "text" : "Reboot",
    "keybind" : "r"
}
{
    "label" : "shutdown",
    "action" : "systemctl poweroff",
    "text" : "Shutdown",
    "keybind" : "s"
}
{
    "label" : "logout",
    {{- if $is_hyprland }}
    "action" : "hyprctl dispatch exit 0",
    {{- else if $is_sway }}
    "action" : "swaymsg exit",
    {{- end }}
    "text" : "Logout",
    "keybind" : "e"
}
{
    "label" : "suspend",
    "action" : "systemctl suspend",
    "text" : "Suspend",
    "keybind" : "u"
}
{
    "label" : "hibernate",
    "action" : "systemctl hibernate",
    "text" : "Hibernate",
    "keybind" : "h"
}
