#!/bin/bash
# /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  ##

{{- $gui_packages := dig .osid "gui" ( list ) .packages }}
{{- $is_hyprland := has "hyprland" $gui_packages }}
{{- $is_sway := has "sway" $gui_packages }}

{{- if $is_hyprland }}
# For Hyprlock
#pidof hyprlock || hyprlock -q 
{{- else if $is_sway }}
# For swaylock
pidof swaylock || swaylock -f
{{- end }}

loginctl lock-session
